{% extends "navbar.html" %}
{% block content %}
{% load static %}


<div class="row px-4">
    <div class="mx-auto" style="min-width: 1000px;">
        <div class="bg-white shadow rounded overflow-hidden">

                <div class="d-flex">
                    <div class="p-2" style="margin-left:20px;margin-top:10px;">
                    {% if bool_porteur %}
                        
                        <a href="/projet/creation" class="btn btn-success">Création d'un nouveau projet</a>

                    {% endif %}
                    </div>
                    <div class="search-container ml-auto p-2" style="margin-top:10px;">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" placeholder="Recherche.." id="search" name="search" style="vertical-align: middle;">
                            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

            <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Dernier projets crées</h5><a href="/projet/dernierprojets" class="btn btn-link text-muted">Montrer tous</a>
                    </div>
                    <div class="row">
                        {% for projet in listProjet %}
                            {% if forloop.counter0 < 8 %}
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4"><img src="/media/{{projet.photo}}" alt="" width="150" height="150" style="min-width:150px;min-height:150px;" class="img-fluid d-block mx-auto mb-3">
                                    <h5> <a href="/projet/affichage/{{projet.id}}" class="text-dark">{{projet.titre}}</a></h5>
                                    <p class="small text-muted font-italic">{{projet.date_creation}}</p>
                                    <p class="text-muted font-italic">{% include "stars.html" %}</p>
                                    <p class="text-muted font-italic">Montant estimé : {{projet.cout_estime}}€</p>
                                    <p class="text-muted font-italic">Créateur : <a href="/utilisateur/profil/{{projet.utilisateur_id}}" class="text-dark">{{projet.utilisateur.idUser.username}}</a></p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Projets les mieux évalués</h5><a href="/projet/mieuxevalues" class="btn btn-link text-muted">Montrer tous</a>
                        </div>
                        <div class="row">
                            {% for projet in listProjetEval %}
                                {% if forloop.counter0 < 8 %}
                                <div class="card rounded shadow-sm border-0">
                                    <div class="card-body p-4"><img src="/media/{{projet.photo}}" alt="" width="150" height="150" style="min-width:150px;min-height:150px;" class="img-fluid d-block mx-auto mb-3">
                                        <h5> <a href="/projet/affichage/{{projet.id}}" class="text-dark">{{projet.titre}}</a></h5>
                                        <p class="small text-muted font-italic">{{projet.date_creation}}</p>
                                        <p class="text-muted font-italic">{% include "stars.html" %}</p>
                                        <p class="text-muted font-italic">Montant estimé : {{projet.cout_estime}}€</p>
                                        <p class="text-muted font-italic">Créateur : <a href="/utilisateur/profil/{{projet.utilisateur_id}}" class="text-dark">{{projet.utilisateur.idUser.username}}</a></p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
