{% extends "navbar.html" %}
{% block content %}
{% load static %}


<style>
  body {
    background: #EEEEEE !important;
  }

  .onhoversurbrillance:hover {
    background:#EEEEEE;
  }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="row py-5 px-4">
  <div class="mx-auto" style="width:900px !important;">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head" style="margin-top:30px !important;">
          <div class="profile mr-3"><img src="/media/{{projet.photo}}" alt="..." width="130"
              class="rounded mb-2 img-thumbnail">
          </div>
          <div class="media-body mb-5">
            <h3 class="mt-0 mb-0">{{projet.titre}}</h3>
          </div>
          <div style="float:right;" class="mb-3">
          {% if user.is_authenticated %}
            {% if projet.id_porteur == user.id %}
              <button class="btn btn-sm btn-warning">Modifier</button>
            {% endif %}
            {% if bool_evalprojet %}
              <button onclick="window.location.href='/evaluation/projet/{{projet.id}}';"class="btn btn-sm btn-success">Évaluer</button>
            {% endif %}
            {% if creationprojetform.is_valid %}
              <button class="btn btn-sm btn-success">Financer</button>
            {% endif %}
            {% if bool_displayShowEvalsButton and not bool_isEvalDisplayed %}
              <button class="btn btn-sm btn-success">Afficher les évaluations</button>
            {% endif %}
            {% if bool_displayShowEvalsButton and bool_isEvalDisplayed %}
              <button class="btn btn-sm btn-warning">Masquer les évaluations</button>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{projet.date_creation}}</h5><small class="text-muted"> <i
                class="mr-1"></i>Date de création</small>
          </li><li class="list-inline-item" style="margin-left:25px !important;">
            <h5 class="font-weight-bold mb-0 d-block">{{projet.cout_estime}}€</h5><small class="text-muted"> <i
                class=" mr-1"></i>Coût estimé</small>
          </li><li class="list-inline-item" style="margin-left:25px !important;">
            <h5 class="font-weight-bold mb-0 d-block">{{projet.cout_estime}}€</h5><small class="text-muted"> <i
                class=" mr-1"></i>Fonds récoltés</small>
          </li>
        </ul>
      </div>


      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Description</h5>
        </div>


        <div class="row" style="margin:20 5 20 5;">
          <div class="card rounded shadow-md border-0">
            <div class="card-body p-6">
              <p class="text-muted font-italic">{{projet.description}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Commentaires</h5>
        </div>


          {% for commentaire in commentaires %}
            <div class="row" style="margin:20 5 20 5;">
              <div class="onhoversurbrillance card rounded shadow-sm border-0 col-md-12">
                <div class="card-body p-6">
                  <h5 class="text-dark">{{commentaire.utilisateur.idUser.username}}</h5>
                  <p class="text-muted font-italic">{{commentaire.commentaire}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row py-5 px-4">
  <div class="mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="p-4 d-flex justify-content-end text-center">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{ commentaireform.as_p }}
          </div>
          <input class="btn btn-md btn-success" type="submit" value="Valider">
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}